
<div class="container">
  <h1>Eat Da Burger!</h1>

  <section>
    {{#each burgerData}}
      {{#unless this.devoured}}
        <p>{{ this.id }}. {{ this.burger_name}}</p>
        <div>
          <form>
            <input class="burger-id" type="text" value={{this.id}}>
            <br>
            <button type="submit" class="btn">Devour it!!</button>
          </form>
        </div>
      {{/unless}}
    {{/each}}
  </section>
  <section>
    {{#each burgerData}}
      {{#if this.devoured}}
        <input type="text" placeholder="{{ this.id }}. {{ this.burgerName }}">
      {{/if}}
    {{/each}}


  </section>






</div>


